<h1>Editing question</h1>

<%= render :partial => "questions/form", 
           :locals => { 
              :form_options => {
                :html => {
                  :class => "form-horizontal well"
                }
              }
            } %>


<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %><br />
<br />
<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
