<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.title, question %></li>
  <% end %>
</ul>

<br />
<% if @current_user %>
  <%= link_to 'Ask a Question', new_question_path %>
<% else %>
  <%= link_to 'Log in', '/login' %> or <%= link_to 'Sign up', '/signup' %> to ask a question.
<% end %>