<h1>New question</h1>

<%= render :partial => "questions/form", 
           :locals => { 
              :form_options => {
                :html => {
                  :class => "form-horizontal well"
                }
              }
            } %>
