<h1>Editing answer</h1>

<%= render :partial => "form", 
					 :locals => { 
					 		:answer_form_options => {
					 			:url => question_answer_path(@question, @answer)
					 		}
					 	} %>

<%= link_to 'Show Question', question_path(@question) %>