
<h1>Questions Tagged: <%= @tag.name %></h1>

<ul class="questions">
  <% @questions.each do |question| %>
    <li>
      <h3><%= link_to question.title, question %></h3>
      <% question.tags.each do |t| %>
        <%= link_to t.name, t, :class => "badge badge-inverse" %>
      <% end %>
    </li>
  <% end %>
</ul>