// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer_is_right {
  background-color: none;
}

.answer_is_right[right="true"] {
  background-color: #71C671;
}
ul.tags {
  list-style: none;
  margin-left: 0px;
}

ul.tags li {
  margin-bottom: 2px;
}