// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.questions {
  list-style: none; 
}

ul.questions li {
  border: dashed 1px gray;
  background-color: #F6F6F6;
  padding: 2px;
  margin: 2px;
}

ul.questions h3 {
  margin: 0px;
}

ul.answers {
  list-style: none;
}

ul.answers li {
  margin-bottom: 1em;
  color: black;
  border-bottom: dashed 1px gray;
}

ul.tags {
  list-style: none;
  margin-left: 0px;
}

ul.tags li {
  margin-bottom: 2px;
}